<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav"></ul>
        </div>
    </div>
    <div ng-controller="roundController">
        <hr />
        <div>
            <a href="#/newRound">Add Round</a>
        </div>
        <ul class="thumbnails">
            <li ng-repeat="round in rounds">
                <div class="row round">
                    <div class="well span9">
                        <h4 class="well-title" ng-click="showRoundDetails = ! showRoundDetails">
                            Round ID: {{round.roundId}} <a style="float: right" ng-click="deleteRound(round)">Remove</a>
                            Facility ID: {{round.facilityId}}<br/>
                            Course ID: {{round.courseId}} | Tee ID: {{round.teeId}}<br />
                            Date: {{round.date}}<br />
                            Score: {{round.score}}
                        </h4>
                        <div ng-class="{ 'hidden': ! showRoundDetails }">
                            <ul class="thumbnails" style="list-style: none">
                                <li ng-repeat="roundDetail in round.roundDetails">
                                    <div style="list-style: none">
                                        <div class="well span9">
                                            Round Detail ID: {{roundDetail.roundDetailId}}<br/>
                                            Hole ID: {{roundDetail.holeId}}<br />
                                            Score: {{roundDetail.score}}<br />
                                            Putts: {{roundDetail.putts}}<br />
                                            GIR: {{roundDetail.gir}}<br />
                                            FIR: {{roundDetail.fir}}
                                            <br />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
